name: Clojure and ClojureScript CI

on: ["push", "workflow_dispatch"]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      id: checkout
      uses: actions/checkout@v5.0.1

    - name: Report Checkout
      run: |
          echo "Commit: ${{ steps.checkout.outputs.commit }}"
          echo "Ref: ${{ steps.checkout.outputs.ref }}"

    - name: Cache maven dependencies
      uses: actions/cache@v4
      env:
          cache-name: cache-maven
      with:
          path: ~/.m2
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ hashFiles('**/project.clj') }}
          restore-keys: |
            ${{ runner.os }}-${{ env.cache-name }}-${{ hashFiles('**/project.clj') }}

    - name: Cache npm dependencies
      uses: actions/cache@v4
      env:
          cache-name: cache-npm
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-

    - name: Install Clojure/ClojureScript dependencies
      run: lein deps

    - name: Install node.js dependencies
      run: npm install

    - name: Run tests
      run: lein test-build
