name: Post Metrics Image
on:
  schedule: [{cron: "42 14 * * 6"}]
  workflow_dispatch:
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      # See action.yml for all options
      - uses: lowlighter/metrics@65836723097537a54cd8eb90f61839426b4266b6
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          template: classic
          repositories_affiliations: owner, collaborator
          config_timezone: America/Chicago
